<header>
	<h1>Welcome To Le Dev BootCamp FlashCards!</h1>
<div class="login_n_create">
<div>
  <form action='/login' method='post'>
    <input type='text' name='email' placeholder='E-mail'></input>
    <input type='password' name='password' placeholder='Password'></input>
    <input type='submit' value='Login'>
  </form>
</div>


<br><br>
<div class="create">
  <form action='/create' method='post'>
    <input type='text' name='email' placeholder='E-mail'></input>
    <input type='password' name='password' placeholder='Password'></input>
    <input type='submit' value='Create'>
  </form>
</div>
<div id="logout">
	<a href="/logout">Logout</a>
</div>
</div>
<nav>
		<ul class="user_signs">
			<li><a href="/">Home</a></li>
		</ul>
	
		<ul class="set_and_dbc">
			<li><a href="/Choose Card Set">Choose Your Set</a></li>
			<li><a href="http://www.Devbootcamp.com">DBC Home</a></li>
		</ul>
	</nav>
</header>